.github-button{
  color: #FFF;
  border-radius: 7px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 250px;
  text-align: center;
  vertical-align: middle;
  background: black;
  overflow: hidden;
  text-decoration: none;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  position: relative;
  margin: auto;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #e74c3c;
  color: #ecf0f1;
  padding: 9px 18px;
}

.btn:hover, .btn:focus {
  background-color: #c0392b;
}

.btn > * {
  position: relative;
}

.btn span {
  display: inline-block;
  padding-left: 6px;
}

.btn svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
