.github-button{
  color: #FFF;
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 40px;
  line-height: 40px;/*高さと合わせる*/
  width: 250px;
  text-align: center;
  vertical-align: middle;
  background: black;
  overflow: hidden;
  text-decoration: none;
  margin-top: 10px;
}
